body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

button {
  font-family: "Orbitron", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #455a64;
  cursor: pointer;
  transition: 0.3s ease-out;
}

button:hover {
  opacity: 0.8;
}

.header {
  padding: 0 45px;
  background-color: #455a64;
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* Align all elements vertically centered */
  align-items: center;
  /* Allow heading elements to drop down to 2nd line if not enough horizontal space */
  flex-wrap: wrap;
}

.nav {
  list-style: none;
  display: flex;
}

.nav li {
  margin-right: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
  display: flex;
}

.nav a:hover {
  color: #b0bec5;
  transform: rotate(-40deg);
}

.hero {
  display: flex;
  padding: 35px 45px;
  background-color: #b0bec5;
  justify-content: center;
}

.hero-container {
  max-width: 750px;
}

.hero h1 {
  font-weight: normal;
  font-size: 3.5rem;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.features {
  background-color: #eceff1;
  padding: 40px 45px;
}

.features-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.feature-item h3 {
  color: #263238;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.feature-item p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}

.footer {
  text-align: center;
  color: #90a4ae;
  padding: 20px 0;
}

/* ABOUT PAGE */
.photos img {
  width: 100%;
}

.photos {
  background-color: #eceff1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
